.navbar {
  color: $primary;
  text-transform: uppercase;
  background-color: $light;
}

.navbar-brand {
  padding-left: 75px;
  text-decoration: none;
}



.navbar-nav {
  padding-right: 50px;
}
.navbar-collapse {
  z-index: 1;
}

.navbar-toggler {
  border: none;
}

#navbarNav {
  padding-left: 75px;
}

.navbar-toggler-icon {
  color: $primary;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
  color: $secondary;
  border: none;
}

